[submodule "github.com/gorilla/context"]
	path = github.com/gorilla/context
	url = git://github.com/gorilla/context.git
[submodule "github.com/gorilla/securecookie"]
	path = github.com/gorilla/securecookie
	url = git://github.com/gorilla/securecookie.git
[submodule "github.com/gorilla/sessions"]
	path = github.com/gorilla/sessions
	url = git://github.com/gorilla/sessions.git
